In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dane_magazyny.csv', header = None)

In [3]:
df.columns = ['x','y']

In [4]:
df

       x      y
0  0.664  0.490
1  0.478  0.774
2  0.566  0.808
3  0.758  0.814
4  0.418  0.192
5  0.072  0.312
6  0.848  0.204
7  0.804  0.640
8  0.270  0.468

In [6]:
# INSERT INTO `customers` VALUES (1,'youtoy','Warszawa'),(2,'jewear','Katowice'),(3,'elexcar','Kraków'),(4,'bikio','Rzeszów'),(5,'roomfit','Gdańsk'),(6,'fishon','Szczecin'),(7,'refurbix','Suwałki'),(8,'armsy','Lublin'),(9,'sportelo','Poznań');
df['z'] = ['Warszawa', 'Katowice', 'Kraków', 'Rzeszów', 'Gdańsk', 'Szczecin', 'Suwałki', 'Lublin', 'Poznań']

In [7]:
df

       x      y         z
0  0.664  0.490  Warszawa
1  0.478  0.774  Katowice
2  0.566  0.808    Kraków
3  0.758  0.814   Rzeszów
4  0.418  0.192    Gdańsk
5  0.072  0.312  Szczecin
6  0.848  0.204   Suwałki
7  0.804  0.640    Lublin
8  0.270  0.468    Poznań

In [8]:
# (xPos: 0.38, yPos: 0.69, name: "Opole")
for i, row in df.iterrows():
    print(f"(xPos: {row.x}, yPos: {row.y}, name: '{row.z}'),")

(xPos: 0.664, yPos: 0.49, name: 'Warszawa'),
(xPos: 0.478, yPos: 0.774, name: 'Katowice'),
(xPos: 0.5660000000000001, yPos: 0.8079999999999999, name: 'Kraków'),
(xPos: 0.758, yPos: 0.8140000000000001, name: 'Rzeszów'),
(xPos: 0.418, yPos: 0.192, name: 'Gdańsk'),
(xPos: 0.07200000000000001, yPos: 0.312, name: 'Szczecin'),
(xPos: 0.848, yPos: 0.204, name: 'Suwałki'),
(xPos: 0.804, yPos: 0.64, name: 'Lublin'),
(xPos: 0.27, yPos: 0.46799999999999997, name: 'Poznań'),